@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../style/animation/bounce-in.css";
@import "../../style/animation/bounce-out.css";
@import "../../style/animation/loader.css";
@import "../../style/animation/post.css";
@import "../../style/animation/alert.css";

@import "../../style/svg-button.css";

body {
  overflow-y: scroll;
}

textarea {
  outline: 0;
}

input {
  outline: 0;
}